@import "@radix-ui/colors/gray.css";

:root {
  * {
    font-family: "Roboto", sans-serif;
  }
}

.userTable {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: solid thin var(--gray-6);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  font-size: 0.875rem;
  width: 100%;
}

.userTableHead {
  background-color: var(--gray-2);

  th:first-child {
    border-top-left-radius: 0.5rem;
  }
  th:last-child {
    border-top-right-radius: 0.5rem;
    width: 2rem;
  }

  th {
    padding: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    /* TODO: font weights are mismatched */
    color: var(--gray-12);
    border-bottom: solid thin var(--gray-6);
    text-align: left;
  }
}

.userTableFooter {
  td {
    padding: 1rem;
  }
  nav {
    text-align: right;
  }
}

.paginationControls {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: flex-end;
}
