@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray.css";

.pageContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.pageContent {
  padding-top: 3rem;
  width: 80vw;
}

.pageHeader {
  font-weight: 400;
}

.pagePlaceholderIcon {
  padding-right: 0.5rem;
}

.formContainer {
  display: flex;
  margin: 1.5rem 0;
  justify-content: end;
  gap: 1.5rem;
}

.formRoot {
  display: flex;
  flex-grow: 9;
}

.formField {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.searchInput {
  border-radius: 0.25rem;
  border: solid thin var(--gray-a5);
  width: 100%;
  padding-left: 2.25rem;
  margin: 0;
  color: var(--gray-a12);
}

.addUserButton {
  flex-shrink: 0;
  flex-basis: 110px;
}

.addUserButtonContainer {
  display: flex;

  svg {
    margin-right: 0.25rem;
  }
}

.searchIcon {
  /* TODO: What a terrible hack shaaaaaammmmmeee */
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: var(--gray-a12);
}

.userTableContainer {
  padding-bottom: 3rem;
}

.rolesContainer {
  margin: 1rem 0;
}

.rolesList {
  border: solid thin var(--gray-5);
  border-radius: 0.5rem;
}

.rolesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid thin var(--gray-5);
  margin-top: -1px;
  padding: 0.75rem 1rem;
  color: var(--gray-12);

  small {
    display: block;
    margin-top: 0.5rem;
    color: var(--gray-10);
  }

  &:last-child {
    border-bottom: none;
  }
}

.roleRenameForm {
  width: 100%;
  justify-content: stretch;
  font-size: 0.875rem;

  label {
    width: 100%;
    display: block;
  }

  small {
    color: var(--red-11);
    font-size: 0.875rem;
    display: block;
    margin-top: 0.5rem;
  }
}

.roleInput {
  margin-top: 0.5rem;
  border: solid thin var(--gray-a5);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}
